- name: Provision next thing co chip to send midi data from line6 fbv over wifi
  hosts: all
  become: yes
  become_method: sudo
  gather_facts: False
  pre_tasks:
    - raw: apt-get -y install python-simplejson
  roles:
    - { role: user, tags: ['user'] }
    - { role: accesspoint, tags: ['accesspoint'] }
  handlers:
    - name: restart ssh
      service:
        name: ssh
        state: restarted
    - name: reload systemd
      become: yes
      command: systemctl daemon-reload
