- name: Provision next thing co chip to serve a nodejs johnny five app and control a servo
  hosts: all
  become: yes
  become_method: sudo
  gather_facts: false
  pre_tasks:
    - raw: sudo apt-get update
    - raw: sudo apt-get -y install python-simplejson
  roles:
    - { role: user, tags: ['user'] }
  handlers:
    - name: restart ssh
      service:
        name: ssh
        state: restarted
    - name: reload systemd
      become: yes
      command: systemctl daemon-reload
